<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>

    <!-- Database connection settings 
    <property name="hibernate.connection.datasource">jdbc/sll</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.connection.release_mode">auto</property>
-->    
    
    <!-- Använd open source connection poolen 3CPO som följer med Hibernate  -->
    <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:jtds:sqlserver://127.0.0.1:1433;databaseName=sikforum</property>
	<property name="hibernate.connection.username">sikforum</property>
	<property name="hibernate.connection.password">sikforum</property>
	<!--  <property name="hibernate.connection.provider_class" >se.sll.earkiv.portal.dao.HibernateConnectionPoolAdapter</property>
	
	
	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.timeout">1800</property>
	<property name="hibernate.c3p0.idle_test_period">900</property>
	<property name="hibernate.c3p0.max_statements">50</property>
	<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
	
	-->
	<!-- <property name="hibernate.hbm2ddl.auto">create</property>  -->

    
    
    <!-- batch parameters -->
    <property name="hibernate.jdbc.batch_size">10</property>

    <!-- SQL related properties -->
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hibernate.use_sql_comments">false</property>
    
    <!-- Transaction settings 
    <property name="hibernate.transaction.manager_lookup_class">
      se.vattenfall.elwebb.common.hibernate.OracleTransactionManagerLookup
    </property>
    <property name="hibernate.transaction.factory_class">
      org.hibernate.transaction.CMTTransactionFactory
    </property>    -->
    
    <!--  Cache settings -->
	<property name="hibernate.cache.use_second_level_cache">false</property> 
	  <!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
      <!-- <property name="hibernate.cache.use_query_cache">true</property> -->

     
    <!-- Mappings -->
    <mapping resource="ForumMessage.hbm.xml"/>    
	<mapping resource="Medlem.hbm.xml"/>
	<mapping resource="Arrangemang.hbm.xml"/>
	<mapping resource="Forening.hbm.xml"/>
	<mapping resource="Funktionar.hbm.xml"/>    
	    
	    
	    
	
    
  </session-factory>
</hibernate-configuration>



